
@{
    ViewBag.Title = "Cumplimiento Meta del Mes";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@Html.Partial("~/views/shared/_NavBar.cshtml")
<script>

</script>
<ol class="breadcrumb">
    <li><a href="#">Metas</a></li>
    <li><a href="#">Cumplimiento Periodo</a></li>
</ol>
<div>
    <div ng-controller="ComplianceGoalController" ng-init="GetHeaderCommisions();GetNextCategory();GetAccumulatedLoan();GetAccumulatedClarifications();GetGoalExecutive();">
        <form name="PQRByExecutive" autocomplete="off">
            <fieldset class="form-group container-fluid">
                <legend style="margin-bottom: 0px;">Avance Cumplimiento Meta del Periodo</legend>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-title"> Información General </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover ">
                                        <tbody style="font-size: small;">
                                            <tr>
                                                <td>Nombre Completo</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].executiveName}}</td>
                                                <td>Tipo de Promotor</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].executiveTypeName}}</td>
                                                <td>Categoría Mes en Curso</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].categoryName}}</td>
                                            </tr>
                                            <tr>
                                                <td>Código Cuenta</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].accountCode}}</td>
                                                <td>Puesto del Promotor</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].positionCodeName}}</td>
                                                <td>Categoría Mes Anterior</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].previousCategoryName}}</td>
                                            </tr>
                                            <tr>
                                                <td>RFC</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].rfc}}</td>
                                                <td>Código Sucursal</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].branchCode}}</td>
                                                <td>Puntos Acum. Mes Anterior</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].previousPointsAccum}}</td>
                                            </tr>
                                            <tr>
                                                <td>Estado</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].state}} - {{EncabezadoComisiones.lstCommissionHeader[0].stateDescription}} </td>
                                                <td>Nombre Sucursal</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].branchName}}</td>
                                                <td>Saldo en Cuenta Comisiones</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].commissionBalance | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td>Correo Electrónico</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].email}}</td>
                                                <td>Nombre del Jefe</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].commercialBossName}}</td>
                                                <td>Comisión Mes Anterior</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].previousCommissionBalance | currency}}</td>
                                            </tr>
                                            <tr>
                                                <td>Celular</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].executivePhone}}</td>
                                                <td>Fecha Nacimiento</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].birthday}}</td>
                                                <td>Nombre Región</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].regionName}}</td>
                                            </tr>
                                            <tr>

                                                <td>Nombre División</td>
                                                <td>{{EncabezadoComisiones.lstCommissionHeader[0].divisionName}}</td>
                                                <td></td>
                                                <td colspan="4"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:0px">
                    <div class="col-xs-4">
                        <div class="panel" style="border-color: #a4a8ae; margin-bottom:0px">
                            <div class="panel-heading">
                                COLOCACIÓN ACUMULADA
                            </div>
                            <div class="panel-body" style="padding-top: 50px;padding-bottom: 59px;">
                                <canvas id="line" class="chart chart-line" chart-data="data"
                                        chart-labels="labels" chart-series="series" chart-options="options"
                                        chart-dataset-override="datasetOverride"
                                        chart-click="onClick"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel" style="border-color: #a4a8ae; margin-bottom:0px">
                            <div class="panel-heading">
                                META CATEGORÍA
                            </div>
                            <div class="panel-body" style="padding-top:0px">
                                <canvas id="doughnut" class="chart chart-doughnut chart-xs"
                                   
                                        chart-data="dataCump" chart-labels="labelsCump" chart-series="series"></canvas>
                            </div>
                            <div class="table-responsive" style="border: 1px solid;max-height:94px;height:94px">
                                <table class="table table-hover">
                                    <thead>
                                        <tr style="font-size: small; text-align: center;">
                                            <th align="center">COLOCADO</th>
                                            <th align="center">%COLOCADO</th>
                                            <th align="center">META</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="font-size:  small; white-space:nowrap;">
                                            <td align="center">{{GoalExecutive.goalExecutive.complianceValue| currency}} </td>
                                            <td align="center">{{vlrCumplimiento|  number :1 }}%</td>
                                            <td align="center">{{GoalExecutive.goalExecutive.goalValue| currency}}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">

                        <div class="panel" style="border-color: #a4a8ae;margin-bottom:0px;min-height: 234px;;padding-top: 35px;padding-bottom: 88px;">
                            <div class="panel-heading">

                            </div>
                            <div class="panel-body" style="padding-top:30px">
                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <label>Estas a:</label>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>De ser:</label>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="" ng-model="ProximaCategoria.amount|currency" disabled>
                                    </div>
                                    <div class="col-xs-6">
                                        <input type="text" class="form-control" placeholder="" ng-model="ProximaCategoria.categoryName" disabled>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-xs-12 text-center" style="margin-top:20px">
                                        <label>Continúa trabajando y lo lograrás</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="table-responsive" style="border: 1px solid;max-height:200px;height:200px">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="font-size: small;">
                                        <th>MES</th>
                                        <th>#CREDITOS</th>
                                        <th>MONTO</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in AccumulatedLoan.lstAccumulatedLoan" style="font-size:  small; white-space:nowrap;">
                                        <td>{{item.month}}</td>
                                        <td>{{item.loanCount}} </td>
                                        <td>{{item.amount  | currency}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="table-responsive" style="border: 1px solid;max-height:200px;height:200px">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="font-size: small; text-align: center;">
                                        <th colspan="6" align="center">ACUMULADO DE ACLARACIONES</th>
                                    </tr>
                                    <tr style="font-size: small; text-align: center;">
                                        <th align="center">MES</th>
                                        <th align="center">#ACLARACIONES</th>
                                        <th align="center">#RESPONDIDAS</th>
                                        <th align="center">#PENDIENTES</th>
                                        <th align="center">%RESPONDIDAS</th>
                                        <th align="center">%PENDIENTES</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in AccumulatedClarifications.lstAccumulatedClarifications" style="font-size:  small; white-space:nowrap;">
                                        <td>{{item.month}}</td>
                                        <td align="center">{{item.total}}</td>
                                        <td align="center">{{item.answered}} </td>
                                        <td align="center">{{item.pending}}</td>
                                        <td align="center">{{item.percentageAnswered}} </td>
                                        <td align="center">{{item.percentagePending}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
