<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Models.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Models.Properties.Settings>
            <setting name="Models_dlgPerfilamiento_SOAP_Server" serializeAs="String">
                <value>http://dialogo.clientesbayport.com/middleware/index.php/middleware</value>
            </setting>
        </Models.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioClienteSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://187.248.70.106:8484/BMX_Originacion/Cliente/v1"
                binding="basicHttpBinding" bindingConfiguration="ServicioClienteSoapBinding"
                contract="dlgOriginacionRFC.ServicioClienteType" name="ServicioClienteTypePort" />
        </client>
    </system.serviceModel>
</configuration>