
@{

    ViewBag.Title = "Casas Financieras";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}
@Html.Partial("~/views/shared/_NavBar.cshtml")

<ol class="breadcrumb">
    <li><a href="/Parametros/ListParametros">Parámetros</a></li>
    <li><a href="#">Casas Financieras</a></li>
</ol>
<div ng-controller="ParametrosController" class="panel-group" id="accordion" ng-init="getCasasFinanciera()">
    <form name="casaFinancieras" novalidate="novalidate" encType="multipart/form-data" autocomplete="off">
        <div class="row">
            <button class="btn btn-primary btn-xs" ng-click="openModal('myModalNueva')">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-title"> casaFinancieras</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr style="font-size: small;">
                                <th>RFC CASA FINANCIERA</th>
                                <th>CASA FINANCIERA</th>
                                <th>ESTADO</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="font-size: small;">
                            <tr ng-repeat="item in casasFinancieras.ListCasas" style="font-size:  small; white-space:nowrap;">
                                <td>{{item.rfc_casa}}</td>
                                <td>{{item.casa_financera}}</td>
                                <td>{{item.estado}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-success btn-xs" ng-click="getIdCasaFinanciera(item.rfc_casa);">
                                        <i class="fas fa-edit" style="color:green;"></i>
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <button class="btn btn-danger btn-xs" ng-click="objDelete(item);openModal('myModalDelete');">
                                        <i class="fas fa-trash" style="color:red;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalNueva" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalNueva')">&times;</button>
                        <h5 class="modal-title">Nueva Casa Financiera</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="lblcasaFinanciera" class="control-label col-xs-6">RFC de casa financiera</label>
                                <input type="text" class="form-control" id="inputCodcasaFinanciera" name="CodcasaFinanciera" ng-model="newCasaFinanciera.codigo" required>
                            </div>
                            <div class="col-xs-12 form-group">
                                <label for="lblcasaFinanciera" class="control-label col-xs-6">Nombre de casa financiera</label>
                                <input type="text" class="form-control" id="inputcasaFinanciera" name="nombrecasaFinanciera" ng-model="newCasaFinanciera.nombre" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEstatudcasaFinanciera" class="control-label col-xs-12">Estatus</label>
                                <select class="selectpicker form-control" name="estadocasaFinanciera" ng-model="newCasaFinanciera.estado" ng-init="newCasaFinanciera.estado = 'A'">
                                    <option value="A">ACTIVA</option>
                                    <option value="I">INACTIVA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="saveCasaFinanciera()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalEdit" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalEdit')">&times;</button>
                        <h5 class="modal-title">Editar Casa Financiera</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="lblcasaFinanciera" class="control-label col-xs-6">RFC de la casa financiera</label>
                                <input type="text" class="form-control" id="inputCodcasaFinanciera" name="CodcasaFinanciera" ng-model="casaFinanciera.rfc_casa" disabled>
                            </div>
                            <div class="col-xs-12 form-group">
                                <label for="lblcasaFinanciera" class="control-label col-xs-6">Nombre de la casa financiera</label>
                                <input type="text" class="form-control" id="inputcasaFinanciera" name="nombrecasaFinanciera" ng-model="casaFinanciera.casa_financera" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEstatudcasaFinanciera" class="control-label col-xs-12">Estatus</label>
                                <select class="selectpicker form-control" name="estadocasaFinanciera" ng-model="casaFinanciera.estado">
                                    <option value="A">ACTIVA</option>
                                    <option value="I">INACTIVA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="updCasaFinanciera(casaFinanciera.rfc_casa, casaFinanciera.casa_financera, casaFinanciera.estado)">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDelete" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Eliminar Casa Financiera</h5>
                    </div>
                    <div class="modal-body">
                        <legend>¿Esta Seguro De Eliminar Esta Casa Financiera?</legend>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="deleteCasasFinanciera(objEliminar.rfc_casa)">SI</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="closeModal('myModalDelete')">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>