
@{

    ViewBag.Title = "Dependencias";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}
@Html.Partial("~/views/shared/_NavBar.cshtml")

<ol class="breadcrumb">
    <li><a href="/Parametros/ListParametros">Parámetros</a></li>
    <li><a href="#">Dependencias</a></li>
</ol>
<div ng-controller="ParametrosController" class="panel-group" id="accordion" ng-init="getDependencias()">
    <form name="Dependencias" novalidate="novalidate" encType="multipart/form-data" autocomplete="off">
        <div class="row">
            <button class="btn btn-primary btn-xs" ng-click="openModal('myModalNueva')">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-title"> Dependencias</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr style="font-size: small;">
                                <th>Dependencia aplicables</th>
                                <th>Estado</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="font-size: small;">
                            <tr ng-repeat="item in dependencias.ListDependencias" style="font-size:  small; white-space:nowrap;">
                                <td>{{item.dependencia}}</td>
                                <td>{{item.estado}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-success btn-xs" ng-click="loadDependencia(item.secuencia);">
                                        <i class="fas fa-edit" style="color:green;"></i>
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <button class="btn btn-danger btn-xs" ng-click="objDelete(item);openModal('myModalDelete');">
                                        <i class="fas fa-trash" style="color:red;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalNueva" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalNueva')">&times;</button>
                        <h5 class="modal-title">Nueva Dependencia</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="lblDependencia" class="control-label col-xs-6">Código Dependencia</label>
                                <input type="number" class="form-control" id="inputCodDependencia" name="CodDependencia" ng-model="newDependencia.codigo" required>
                            </div>
                            <div class="col-xs-12 form-group">
                                <label for="lblDependencia" class="control-label col-xs-6">Nombre Dependencia</label>
                                <input type="text" class="form-control" id="inputDependencia" name="nombreDependencia" ng-model="newDependencia.nombre" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEstatudDependencia" class="control-label col-xs-12">Estatus</label>
                                <select class="selectpicker form-control" name="estadoDependencia" ng-model="newDependencia.estado" ng-init="newDependencia.estado = 'A'">
                                    <option value="A">ACTIVA</option>
                                    <option value="I">INACTIVA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="saveDependencias()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalEdit" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalEdit')">&times;</button>
                        <h5 class="modal-title">Editar Dependencia</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="lblDependencia" class="control-label col-xs-6">Código Dependencia</label>
                                <input type="number" class="form-control" id="inputCodDependencia" name="CodDependencia" ng-model="dependencia.secuencia" disabled>
                            </div>
                            <div class="col-xs-12 form-group">
                                <label for="lblDependencia" class="control-label col-xs-6">Nombre Dependencia</label>
                                <input type="text" class="form-control" id="inputDependencia" name="nombreDependencia" ng-model="dependencia.dependencia" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEstatudDependencia" class="control-label col-xs-12">Estatus</label>
                                <select class="selectpicker form-control" name="estadoDependencia" ng-model="dependencia.estado">
                                    <option value="A">ACTIVA</option>
                                    <option value="I">INACTIVA</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="updDependencia(dependencia.secuencia, dependencia.dependencia, dependencia.estado)">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDelete" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Editar Dependencia</h5>
                    </div>
                    <div class="modal-body">
                        <legend>¿Esta Seguro De Eliminar Esta Dependencia?</legend>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="deleteDependencia(objEliminar.secuencia)">SI</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="closeModal('myModalDelete')">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>