
@{
    ViewBag.Title = "Dias Expiración";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}
@Html.Partial("~/views/shared/_NavBar.cshtml")

<ol class="breadcrumb">
    <li><a href="/Parametros/ListParametros">Parámetros</a></li>
    <li><a href="#">Dias Expiración</a></li>
</ol>

<div ng-controller="ParametrosController" class="panel-group" id="accordion" ng-init="getDiasExp()">
    <form name="formData" novalidate="novalidate" encType="multipart/form-data" autocomplete="off">
        <div class="panel panel-default">
            <div class="panel-title"> Dias Expiracion Solicitud </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr style="font-size: small;">
                                <th>Dias Expiracion</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="font-size: small;">
                            <tr ng-repeat="item in DiasExp.ListDias" style="font-size:  small; white-space:nowrap;">
                                <td>{{item.dias}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-success btn-xs" ng-click="getIdDiasExp(item.dias);">
                                        <i class="fas fa-edit" style="color:green;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalEdit" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalEdit')">&times;</button>
                        <h5 class="modal-title">Editar Dias de Expiracion</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12 form-group">
                                <label for="lblDiaExp" class="control-label col-xs-6">Dias de Expiracion</label>
                                <input type="number" class="form-control" id="inputDiaExp" name="DiaExp" ng-model="DiaExp.dias" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="updDiasExp(DiaExp.dias)">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>