
@{

    ViewBag.Title = "Paises";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}
@Html.Partial("~/views/shared/_NavBar.cshtml")
<ol class="breadcrumb">
    <li><a href="/Parametros/ListParametros">Parámetros</a></li>
    <li><a href="#">Paises</a></li>
</ol>

<div ng-controller="ParametrosController" class="panel-group" id="accordion" ng-init="getPaises();">
    <form name="formData" novalidate="novalidate" encType="multipart/form-data" autocomplete="off">
        <div class="row">
            <button class="btn btn-primary btn-xs" ng-click="openModal('myModalNueva')">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-title"> Paises</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr style="font-size: small;">
                                <th>País</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="font-size: small;">
                            <tr ng-repeat="item in Paises.ListPais" style="font-size:  small; white-space:nowrap;">
                                <td>{{item.nombre_pais}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-success btn-xs" ng-click="getIdPais(item.codigo_pais);">
                                        <i class="fas fa-edit" style="color:green;"></i>
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <button class="btn btn-danger btn-xs" ng-click="openModal('myModalDelete'); objDelete(item);">
                                        <i class="fas fa-trash" style="color:red;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalNueva" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalNueva')">&times;</button>
                        <h5 class="modal-title">Nuevo País</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="lblPeriodo" class="control-label col-xs-6">Código Númerico del País</label>
                                <input type="text" class="form-control" id="inputcodigoPaisN" ng-maxlength="3" name="codigoPaisN" format ng-model="newPais.codigo" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblPlazo" id="lblPlazo" class="control-label col-xs-6">Código del País (3 letras)</label>
                                <input type="text" class="form-control" id="inputcodigoPais" ng-maxlength="3" name="codigoPais" uppercase ng-model="newPais.codigoPais" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblPlazo" id="lblPlazo" class="control-label col-xs-6">Nombre País</label>
                                <input type="text" class="form-control" id="inputcodigoPais" name="codigoPais" uppercase ng-model="newPais.nombre" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="savePais()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalEdit" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalEdit')">&times;</button>
                        <h5 class="modal-title">Editar País</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="lblPeriodo" class="control-label col-xs-6">Código Númerico del País</label>
                                <input type="text" class="form-control" id="inputcodigoPaisN" ng-maxlength="3" name="codigoPaisN" ng-model="Pais.codigo_pais" uppercase disabled>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblPlazo" id="lblPlazo" class="control-label col-xs-6">Código del País (3 letras)</label>
                                <input type="text" class="form-control" id="inputcodigoPais" ng-maxlength="3" name="codigoPais" ng-model="Pais.codigo" uppercase required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblPlazo" id="lblPlazo" class="control-label col-xs-6">Nombre País</label>
                                <input type="text" class="form-control" id="inputcodigoPais" name="codigoPais" ng-model="Pais.nombre_pais" uppercase required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="updPais(Pais.codigo_pais, Pais.nombre_pais, Pais.codigo)">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDelete" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"  ng-click="closeModal('myModalDelete')" data-dismiss="modal">&times;</button>
                        <h5 class="modal-title">Eliminar País</h5>
                    </div>
                    <div class="modal-body">
                        <legend>¿Esta Seguro De Eliminar Este País?</legend>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal" ng-click="deletePais(objEliminar.codigo_pais)">SI</button>
                        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>