
@{
    ViewBag.Title = "Simulador de Categoría";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@Html.Partial("~/views/shared/_NavBar.cshtml")

<ol class="breadcrumb">
    <li><a href="#">Simulador</a></li>
    <li><a href="#">Categoría</a></li>
</ol>
<div ng-controller="SimulatorController">
    <form name="PQRByExecutive" autocomplete="off">
        <fieldset class="form-group container-fluid">
            <legend>Simulador de Categoría</legend>
            <div>
                <div class="col-xs-12">
                    <label for="lblIniDate" class="control-label col-xs-6">A qué categoría llegaría si vendo adicionalmente:</label>
                </div>
                <div class="col-xs-7">
                    <input type="text" class="form-control" id="inputDocumentNumber" name="numdoc" ng-model="simulador.valor" placeholder="Digite valor" ng-minlength="3" required>
                </div>
                <div class="col-xs-5">
                    <button type="submit" class="btn btn-primary btn-sm" style="padding: 13px 17.6px; border-radius: 8px;" ng-click="simularCategoria();">Simular</button>
                </div>
            </div>

            <div>
                <div class="col-xs-12">
                    <label for="lblIniDate" class="control-label col-xs-6">Tu categoría sería:</label>
                    <input type="text" class="form-control" id="lblCodEjecutivo" name="numdoc" ng-model="simulador.categoriaNew" disabled="disabled">
                </div>
                <div class="col-xs-6">
                    <label for="lblIniDate" class="control-label col-xs-6">Tu porcentaje de comisión en créditos nuevos sería:</label>
                    <input type="text" class="form-control" id="lblCodEjecutivo" name="numdoc" ng-model="simulador.feeNew" disabled="disabled">
                </div>
                <div class="col-xs-6">
                    <label for="lblIniDate" class="control-label col-xs-6">Tu porcentaje de comisión en créditos renovados sería:</label>
                    <input type="text" class="form-control" id="lblCodEjecutivo" name="numdoc" ng-model="simulador.feeRenovated" disabled="disabled">
                </div>
            </div>
            <br />
            <div class="col-xs-12"><p class="text-primary text-center"><b>Continúa trabajando para alcanzar un porcentaje más alto de comisión.</b></p></div>


        </fieldset>


    </form>
</div>