
@{
    ViewBag.Title = "Solicitudes por Cliente";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@Html.Partial("~/views/shared/_NavBar.cshtml")
<ol class="breadcrumb">
    <li><a href="#">Producción</a></li>
    <li><a href="#">Solicitudes por Cliente</a></li>
</ol>
<div ng-controller="ConsultarController">
    <form name="RequisitionByClient" autocomplete="off">
        <fieldset class="form-group container-fluid">
            <legend>Solicitudes Por Cliente</legend>
            <div class="col-xs-3">
                <select class="selectpicker form-control" style="font-size: 15px;height: 47px;" ng-init="tipDoc='0'" ng-model="tipDoc">
                    <option value="0">Selecione Tipo Documento</option>
                    <option value="1">Cédula de Ciudadanía</option>
                    <option value="2">Cédula de Extranjería</option>
                </select>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" style="font-size: 15px;height: 47px;" name="txtname" ng-model="Document" placeholder="Digite Número de Documento" />
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-sm" style="padding: 13px 17.6px; border-radius: 8px;" ng-click="ConsultarSolicitudes();">Consultar</button>
            </div>
        </fieldset>
        <div class="panel panel-default" >
            <div class="panel-heading" style="background-color: #fff;color: #a4a8ae;font-size: 1.2em;"> Resultados de la Búsqueda</div>
            <div class="panel-body">
                <div class="table-responsive" ng-show="visible" style=" max-height:400px">
                    <table class="table table-hover">
                        <thead>
                            <tr style="font-size: 0.6em;">
                                <th></th>
                                <th>Número Carpeta</th>
                                <th>Fecha Creación</th>
                                <th>Número Identificación</th>
                                <th>Nombre Cliente</th>
                                <th>Estado Carpeta </th>
                                <th>Línea Crédito </th>
                                <th>Monto Solicitado </th>
                                <th>Monto Aprobado </th>
                                <th>Tasa Aprobada</th>
                                <th>Plazo Aprobado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in Solicitudes.loanInformationList" style="font-size: 0.6em; white-space:nowrap;">
                                <td>
                                    <a data-ng-click="ConsultarCredito($index)" style="text-decoration: underline;color: #3f09e5;cursor:pointer;">Ver</a>
                                </td>
                                <td>
                                    <a class="col-xs-10" data-toggle="collapse" href=".collapseOne" style="text-decoration: underline;color:#000;">{{item.folderNumber}}</a>
                                </td>
                                <td>

                                    {{item.creationDate}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Sucursal</div>
                                    <div class="collapseOne col-xs-12">{{item.branchCode}} - {{item.branchName}}</div>
                                </td>
                                <td>
                                    {{item.numberID}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Cód. Asesor</div>
                                    <div class="collapseOne col-xs-12">{{item.loanOfficerCode}}</div>
                                </td>
                                <td>
                                    {{item.personName}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Nombre Asesor</div>
                                    <div class="collapseOne col-xs-12">{{item.executiveID}} - {{item.executiveName}}</div>

                                </td>
                                <td>
                                    {{item.folderStateCode}} - {{item.folderStateName}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Jefe Comercial</div>
                                    <div class="collapseOne col-xs-12">{{item.commercialBossCode}} - {{item.commercialBossName}}</div>
                                </td>
                                <td>
                                    {{item.loanLine}}

                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Zona</div>
                                    <div class="collapseOne col-xs-12">{{item.zoneCode}}</div>
                                </td>
                                <td>
                                    {{item.requisitionAmount | currency}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Convenio</div>
                                    <div class="collapseOne col-xs-12">{{item.agreementCode}} - {{item.agreementName}}</div>
                                </td>
                                <td>
                                    {{item.amountApproved | currency}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Pagaduría</div>
                                    <div class="collapseOne col-xs-12">{{item.payamentCode}} - {{item.payamentName}}</div>
                                </td>
                                <td>
                                    {{item.rateApproved}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Novedad</div>
                                    <div class="collapseOne col-xs-12">{{item.noveltyCode}} - {{item.noveltyName}}</div>
                                </td>
                                <td>
                                    {{item.termApproved}}
                                    <div class="collapseOne col-xs-12" style="font-weight: bold;">Analista Aprobación</div>
                                    <div class="collapseOne col-xs-12">{{item.analystsApproved}}</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <aside style="width: 0%;float: left;"></aside>
            <article style="width: 100%;float: right; font-size:0.7em;">
                <fieldset style="padding: 0 12px;" ng-show="visible">
                    <legend style="color: #a4a8ae;font-size: 1.8em;margin-bottom: 5px;">Informacion Detallada de Carpeta</legend>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Número Carpeta:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.folderNumber}}
                        </div>
                        <div class="col-xs-2">
                            <label>Estado Carpeta:</label>
                        </div>
                        <div class="col-xs-3">
                            {{EncabezadoCredito.folderStateCode}} - {{EncabezadoCredito.folserStateName}}
                        </div>
                        <div class="col-xs-2">
                            <label>Número Identificación:</label>
                        </div>
                        <div class="col-xs-2">
                            {{EncabezadoCredito.numberID}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-1">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-xs-4">
                            {{EncabezadoCredito.personName}}
                        </div>
                        <div class="col-xs-1">
                            <label>Sucursal:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.branchCode}}
                        </div>
                        <div class="col-xs-2">
                            <label>Sucursal Homóloga:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.branchHomologous}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-1">
                            <label>Convenio:</label>
                        </div>
                        <div class="col-xs-5">
                            {{EncabezadoCredito.agreementCode}} - {{EncabezadoCredito.agreementName}}
                        </div>
                        <div class="col-xs-1">
                            <label>Pagaduría:</label>
                        </div>
                        <div class="col-xs-4">
                            {{EncabezadoCredito.payableCode}} - {{EncabezadoCredito.payableName}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Monto Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.amountRequested | currency}}
                        </div>
                        <div class="col-xs-2">
                            <label>Plazo Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.termRequested}}
                        </div>
                        <div class="col-xs-2">
                            <label>Tasa Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.rateRequested}}
                        </div>
                        <div class="col-xs-2">
                            <label>Monto Aprobado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.amountApproved | currency}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Plazo Aprobado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.termApproved}}
                        </div>
                        <div class="col-xs-2">
                            <label>Tasa Aprobada:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.rateApproved}}
                        </div>
                        <div class="col-xs-2">
                            <label>Cuota Aprobada:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.monthlyPaymentApproved}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras"><hr /></div>
                </fieldset>
                <div class="col-xs-12 form-group " ng-show="cabeceras" style="padding: 20px 21px;">
                    <div class="table-responsive pre-scrollable">
                        <table class="table table-striped header-fixed">
                            <thead>
                                <tr style="font-size: 1.0em;">
                                    <th>Carpeta</th>
                                    <th>Proceso</th>
                                    <th>Fecha Proceso</th>
                                    <th>Usuario Proceso</th>
                                    <th>Estado Anterior</th>
                                    <th>Estado Nuevo</th>
                                    <th>Observaciones</th>
                                    <th>Tipo LOG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DetalleCredito.loanDetailList" style="font-size: 1.0em; white-space:nowrap;">
                                    <td>{{item.folderNumber}}</td>
                                    <td>{{item.processType}} - {{item.processTypeDescription}}</td>
                                    <td>{{item.processDate}}</td>
                                    <td>{{item.processUser}}</td>
                                    <td>{{item.previousStateCode}} - {{item.previousStateName}}</td>
                                    <td>{{item.NewStateCode}} -{{item.NewStateName}}</td>
                                    <td>{{item.observations}}</td>
                                    <td>{{item.LogType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>
    </form>
</div>