
@{

    ViewBag.Title = "Municipios";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";

}
@Html.Partial("~/views/shared/_NavBar.cshtml")
<ol class="breadcrumb">
    <li><a href="/Parametros/ListParametros">Parámetros</a></li>
    <li><a href="#">Municipios</a></li>
</ol>

<div ng-controller="ParametrosController" class="panel-group" id="accordion" ng-init="getMunicipios();getPaises();getEntidadFederativa()">
    <form name="formData" novalidate="novalidate" encType="multipart/form-data" autocomplete="off">
        <div class="row">
            <button class="btn btn-primary btn-xs" ng-click="openModal('myModalNueva')">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <div class="panel panel-default">
            <div class="panel-title"> Municipios</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr style="font-size: small;">
                                <th>Municipio</th>
                                <th>Entidad</th>
                                <th>País</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody style="font-size: small;">
                            <tr ng-repeat="item in Municipios.ListMunicipios" style="font-size:  small; white-space:nowrap;">
                                <td>{{item.nombre_municipio}}</td>
                                <td>{{item.entidad_federativa}}</td>
                                <td>{{item.pais}}</td>
                                <td class="col-xs-1">
                                    <button class="btn btn-success btn-xs" ng-click="getIdMunicipio(item.codigo_municipio, item.cod_pais, item.cod_entidad);">
                                        <i class="fas fa-edit" style="color:green;"></i>
                                    </button>
                                </td>
                                <td class="col-xs-1">
                                    <button class="btn btn-danger btn-xs" ng-click="openModal('myModalDeleteM'); objDelete(item);">
                                        <i class="fas fa-trash" style="color:red;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalNueva" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalNueva')">&times;</button>
                        <h5 class="modal-title">Nuevo Municipio</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="lblLineaCredito" class="control-label col-xs-6">País</label>
                                <div class="col-sm-13">
                                    <select id="SelectPais" required class="selectpicker form-control" ng-model="newMunicipio.pais" ng-options="Pais.codigo_pais as Pais.nombre_pais for Pais in Paises.ListPais" ng-change="getPaises();">
                                        <option value="">SELECCIONE PAÍS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblLineaCredito" class="control-label col-xs-12">Entidad Federativa</label>
                                <div class="col-sm-13">
                                    <select id="SelectPais" required class="selectpicker form-control" ng-model="newMunicipio.entidad_federativa" ng-options="entidad.codigo_entidad as entidad.nombre_entidad for entidad in Entidades.ListEntidades" ng-change="getEntidadFederativa();">
                                        <option value="">SELECCIONE ENTIDAD FEDERATIVA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEditPlazo" class="control-label col-xs-12">Código Municipio</label>
                                <input type="text" class="form-control" id="inputCodigoMunicipio" name="codigoMunicipio" ng-model="newMunicipio.codigo_municipio" required>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEditPlazo" class="control-label col-xs-12">Nombre Municipio</label>
                                <input type="text" class="form-control" id="inputNombreMunicipio" name="nombreMunicipio" ng-model="newMunicipio.nombre_municipio" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="saveMunicipio()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalEdit" role="dialog">
            <div class="modal-dialog modal-MD">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalEdit')">&times;</button>
                        <h5 class="modal-title">Editar Municipio</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-6 form-group">
                                <label for="lblLineaCredito" class="control-label col-xs-6">País</label>
                                <div class="col-sm-13">
                                    <select id="SelectPais" disabled class="selectpicker form-control" ng-model="Municipio.pais" ng-options="Pais.codigo_pais as Pais.nombre_pais for Pais in Paises.ListPais" ng-change="getPaises();">
                                        <option value="">SELECCIONE ENTIDAD FEDERATIVA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblLineaCredito" class="control-label col-xs-12">Entidad Federativa</label>
                                <div class="col-sm-13">
                                    <select id="SelectPais" disabled class="selectpicker form-control" ng-model="Municipio.entidad_federativa" ng-options="entidad.codigo_entidad as entidad.nombre_entidad for entidad in Entidades.ListEntidades" ng-change="getEntidadFederativa();">
                                        <option value="">SELECCIONE PAÍS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEditPlazo" class="control-label col-xs-12">Código Municipio</label>
                                <input type="text" class="form-control" id="inputCodigoMunicipio" name="codigoMunicipio" ng-model="Municipio.codigo_municipio" disabled>
                            </div>
                            <div class="col-xs-6 form-group">
                                <label for="lblEditPlazo" class="control-label col-xs-12">Nombre Municipio</label>
                                <input type="text" class="form-control" id="inputNombreMunicipio" name="nombreMunicipio" ng-model="Municipio.nombre_municipio" required>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="updMunicipio(Municipio.codigo_municipio, Municipio.nombre_municipio, Municipio.entidad_federativa, Municipio.pais)">Editar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="myModalDeleteM" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="closeModal('myModalDeleteM')">&times;</button>
                        <h5 class="modal-title">Eliminar Municipio</h5>
                    </div>
                    <div class="modal-body">
                        <legend>¿Esta Seguro De Eliminar Este Municipio?</legend>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-xs" ng-click="deleteMunicipio(objEliminar.codigo_municipio, objEliminar.cod_pais, objEliminar.cod_entidad)">SI</button>
                        <button type="button" class="btn btn-primary btn-xs" ng-click="closeModal('myModalDeleteM')">NO</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>