
@{
    ViewBag.Title = "Solicitudes por Fecha";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

@Html.Partial("~/views/shared/_NavBar.cshtml")
<ol class="breadcrumb">
    <li><a href="#">Producción</a></li>
    <li><a href="#">Solicitudes por Fecha</a></li>

</ol>

<div ng-controller="ConsultarController">
    <form name="RequisitionByClient" autocomplete="off">
        <fieldset class="form-group container-fluid">
            <legend>Solicitudes Por Fecha</legend>
            <div class="col-xs-3">
                <label for="lblIniDate" class="control-label col-xs-6">Fecha Inicial</label>
                <div class="col-sm-12">
                    <div class='input-group date'>
                        <input type="text" id='datetimepickerIni' name="fecIni" ng-model="request.fecIni" datepicker required />
                    </div>
                </div>
            </div>
            <div class="col-xs-3">
                <label for="lblEndDate" class="control-label col-xs-6">Fecha Final</label>
                <div class="col-sm-12">
                    <div class='input-group date'>
                        <input type="text" id='datetimepickerFin' name="fecFin" ng-model="request.fecFin" datepicker required />
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-sm" style="padding: 13px 17.6px; border-radius: 8px; margin-top: 18px;" ng-click="ConsultarSolicitudesByDate();">Consultar</button>
            </div>
        </fieldset>

        <div class="panel panel-default">
            <div class="table-responsive" ng-show="visible" style="border: 1px solid;">
                <table class="table table-hover">
                    <thead>
                        <tr style="font-size: 0.6em;">
                            <th>Número Carpeta</th>
                            <th>Número Identificación</th>
                            <th>Nombre Cliente</th>
                            <th>Estado Carpeta </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Solicitudes.loanInformationList" style="font-size: 0.6em; white-space:nowrap;">
                            <td>
                                <a class="col-xs-10" data-toggle="collapse" href=".collapseOne" style="text-decoration: underline;color:#000;">{{item.folderNumber}}</a>
                                <div class="row collapseOne col-xs-2">
                                    <a data-ng-click="ConsultarCredito($index)" style="text-decoration: underline;color: #3f09e5;cursor:pointer;">Ver</a>
                                </div>
                            </td>
                            <td>
                                {{item.numberID}}
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Línea Crédito</div>
                                <div class="collapseOne col-xs-12">{{item.loanLine}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Tasa Aprobada</div>
                                <div class="collapseOne col-xs-12">{{item.rateApproved}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Sucursal</div>
                                <div class="collapseOne col-xs-12">{{item.branchCode}} - {{item.branchName}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Analista Aprobación</div>
                                <div class="collapseOne col-xs-12">{{item.analystsApproved}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Analista Aprobación</div>
                                <div class="collapseOne col-xs-12">{{item.executiveID}} - {{item.executiveName}}</div>
                            </td>
                            <td>
                                {{item.personName}}
                                <div class="collapseOne col-xs-6" style="font-weight: bold;">Monto Solicitado</div>
                                <div class="collapseOne col-xs-6" style="font-weight: bold;">Monto Aprobado</div>
                                <div class="collapseOne col-xs-6">{{item.requisitionAmount | currency}}</div>
                                <div class="collapseOne col-xs-6">{{item.amountApproved | currency}}</div>
                                <div class="collapseOne col-xs-6" style="font-weight: bold;">Cód. Asesor</div>
                                <div class="collapseOne col-xs-6" style="font-weight: bold;">Fecha Creación</div>
                                <div class="collapseOne col-xs-6">{{item.loanOfficerCode}}</div>
                                <div class="collapseOne col-xs-6">{{item.creationDate}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Convenio</div>
                                <div class="collapseOne col-xs-12">{{item.agreementCode}} - {{item.agreementName}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Novedad</div>
                                <div class="collapseOne col-xs-12">{{item.noveltyCode}} - {{item.noveltyName}}</div>
                            </td>
                            <td>
                                {{item.folderStateCode}} - {{item.folderStateName}}
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Plazo Aprobado</div>
                                <div class="collapseOne col-xs-12">{{item.termApproved}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Zona</div>
                                <div class="collapseOne col-xs-12">{{item.zoneCode}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Pagaduría</div>
                                <div class="collapseOne col-xs-12">{{item.payamentCode}} - {{item.payamentName}}</div>
                                <div class="collapseOne col-xs-12" style="font-weight: bold;">Jefe Comercial</div>
                                <div class="collapseOne col-xs-12">{{item.commercialBossCode}} - {{item.commercialBossName}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <aside style="width: 0%;float: left;"></aside>
            <article style="width: 100%;float: right; font-size:0.7em;">
                <fieldset style="padding: 0 12px;" ng-show="visible">
                    <legend style="color: #a4a8ae;font-size: 1.8em;margin-bottom: 5px;">Informacion Detallada de Carpeta</legend>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Número Carpeta:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.folderNumber}}
                        </div>
                        <div class="col-xs-2">
                            <label>Estado Carpeta:</label>
                        </div>
                        <div class="col-xs-3">
                            {{EncabezadoCredito.folderStateCode}} - {{EncabezadoCredito.folserStateName}}
                        </div>
                        <div class="col-xs-2">
                            <label>Número Identificación:</label>
                        </div>
                        <div class="col-xs-2">
                            {{EncabezadoCredito.numberID}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-1">
                            <label>Nombre:</label>
                        </div>
                        <div class="col-xs-4">
                            {{EncabezadoCredito.personName}}
                        </div>
                        <div class="col-xs-1">
                            <label>Sucursal:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.branchCode}}
                        </div>
                        <div class="col-xs-2">
                            <label>Sucursal Homóloga:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.branchHomologous}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-1">
                            <label>Convenio:</label>
                        </div>
                        <div class="col-xs-5">
                            {{EncabezadoCredito.agreementCode}} - {{EncabezadoCredito.agreementName}}
                        </div>
                        <div class="col-xs-1">
                            <label>Pagaduría:</label>
                        </div>
                        <div class="col-xs-4">
                            {{EncabezadoCredito.payableCode}} - {{EncabezadoCredito.payableName}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Monto Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.amountRequested | currency}}
                        </div>
                        <div class="col-xs-2">
                            <label>Plazo Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.termRequested}}
                        </div>
                        <div class="col-xs-2">
                            <label>Tasa Solicitado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.rateRequested}}
                        </div>
                        <div class="col-xs-2">
                            <label>Monto Aprobado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.amountApproved | currency}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras">
                        <div class="col-xs-2">
                            <label>Plazo Aprobado:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.termApproved}}
                        </div>
                        <div class="col-xs-2">
                            <label>Tasa Aprobada:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.rateApproved}}
                        </div>
                        <div class="col-xs-2">
                            <label>Cuota Aprobada:</label>
                        </div>
                        <div class="col-xs-1">
                            {{EncabezadoCredito.monthlyPaymentApproved}}
                        </div>
                    </div>
                    <div class="col-xs-12" ng-show="cabeceras"><hr /></div>
                </fieldset>
                <div class="col-xs-12 form-group " ng-show="cabeceras" style="padding: 20px 21px;">
                    <div class="table-responsive pre-scrollable">
                        <table class="table table-striped header-fixed">
                            <thead>
                                <tr style="font-size: 1.0em;">
                                    <th>Carpeta</th>
                                    <th>Proceso</th>
                                    <th>Fecha Proceso</th>
                                    <th>Usuario Proceso</th>
                                    <th>Estado Anterior</th>
                                    <th>Estado Nuevo</th>
                                    <th>Observaciones</th>
                                    <th>Tipo LOG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DetalleCredito.loanDetailList" style="font-size: 1.0em; white-space:nowrap;">
                                    <td>{{item.folderNumber}}</td>
                                    <td>{{item.processType}} - {{item.processTypeDescription}}</td>
                                    <td>{{item.processDate}}</td>
                                    <td>{{item.processUser}}</td>
                                    <td>{{item.previousStateCode}} - {{item.previousStateName}}</td>
                                    <td>{{item.NewStateCode}} -{{item.NewStateName}}</td>
                                    <td>{{item.observations}}</td>
                                    <td>{{item.LogType}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </article>
        </div>

    </form>
</div>